.scrollContainer { 
  overflow-y: auto;
  height: 50vh;
  @media only screen and (max-height: 1050px) {
    height: 46vh;
  }
  @media only screen and (max-height: 950px) {
    height: 44vh;
  }
  @media only screen and (max-height: 850px) {
    height: 42vh;
  }
  @media only screen and (max-height: 750px) {
    height: 40vh;
  }
  @media only screen and (max-height: 650px) {
    height: 38vh;
  }
  @media only screen and (max-height: 550px) {
    height: 34vh;
  }
  @media only screen and (max-height: 450px) {
    height: 28vh;
  }

 

  width: 98%;
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 5px;
  padding-top: 10px;
}

.scrollContainer::-webkit-scrollbar {
  width: 8px;
}

 
/* Handle */
.scrollContainer::-webkit-scrollbar-thumb {
  background: #353535; 
  border-radius: 16px;
}

/* Handle on hover */
.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #dadada; 
}